:root {
  background: #fffbfc;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #4a4a68;
  background: #fffbfc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
