JWT_SECRET =
CONNECTION_STRING =
RESET_PASSWORD_URL =

SMTP_HOST =
SMTP_USERNAME = 
SMTP_PASSWORD = 

GH_CLIENT_ID = 
GH_CLIENT_SECRET = 
GH_CALLBACK_URL = 

SPOTIFY_CLIENT_ID = 
SPOTIFY_CLIENT_SECRET = 
SPOTIFY_CALLBACK_URL = 

CORS_ORIGIN = 

EDAMAM_APP_ID =
EDAMAM_APP_KEY = 
EDAMAM_APP_USER = 
EDAMAM_BASE_API_URL = 